<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Left-aligned Brand -->
        <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="Dashboard">JustBeSports</a>

        <!-- Right-aligned Links -->
        <div class="ml-auto">
            @if ((ViewBag.IsAdminLoggedIn as bool?) ?? false)
            {
                @if (ViewBag.IsMainAdmin)
                {
                    <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">Admins</a>
                }
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="Logout">Logout</a>
            }
        </div>
    </div>
</nav>
