@model IEnumerable<JustBeSports.Core.Models.CategoryModel>

@{
    ViewData["Title"] = "Categories";
}

<div class="container my-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <!-- Button to Add New Category -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-dark" onclick="addCategory()">Add New Category</button>
    </div>

    <!-- Categories Table -->
    <table id="tblCategories" class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

<!-- Category Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="categoryForm" data-parsley-validate>
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Add New Category</h5>
                    <button type="button" class="btn-close btn-close-grey" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtName">Category Name</label>
                        <input type="text" class="form-control" id="txtName" name="Name" required
                               data-parsley-required-message="Please enter a category name." />
                    </div>
                    <div class="form-group">
                        <label for="txtDescription">Description</label>
                        <textarea class="form-control" id="txtDescription" name="Description" rows="3" required
                                  data-parsley-required-message="Please enter a description."></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="saveCategoryButton" class="btn btn-dark">Save Category</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/categoryManagement.js"></script>
}
